table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

th {
    color: white;
    background-color: #A6A6A6;
}

tr:nth-child(2n) {
    background-color: #D9D9D9;
}

tr:nth-child(2n+1) {
    background-color: white;
}

td:nth-child(2) {
    text-align: left;
}
