section {
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    position: relative;
}

section header h3{
    text-align: center;
}
section header span{
    display: block;
    text-align: center;
    margin: 5px;
}

section span em{

}
section div{
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 5px;
}

div.moving{
    width: 20px;
    height: 20px;
}