body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    width: 30%;
    /*display: inline-block;vertical-align:top;*/
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    position: relative;
    float: left;
}

section:last-child:after{
    clear:both;
    content: "";
    display: none;
    zoom: 1;
}

section header h3{
    text-align: center;
}
section header span{
    display: block;
    text-align: center;
    margin: 5px;
}

section span em{

}
section div{
    width: 100px;
    height: 100px;
    margin: 5px;
}

div.moving{
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 5px solid;
    position: absolute;
    text-align: center;
}

#moving-divs-section {
    height: 98%;
    display: table;
}

#moving-divs-section article {
    display: table-row;
    height: 100%;
    position: relative;
}
#moving-divs-section article>div.moving-divs-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#console-section input[type=text]{
    display: block;
    width:100%;
}